html,
body {
  padding: 0;
  margin: 0;
  font-family: Open Sans, 'sans-serif';
  background: #1b1f23;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import '~/styles/DatePicker.scss';
@import '~/styles/Calendar.scss';

.h-500px {
  height: 500px;
}
